<h1>Hello!</h1>

<form action="/posts" method="post">
  <div>
    <p>名前</p>
    <input type="text" name="name">
  </div>
  <div>
    <p>投稿内容</p>
    <textarea name="content" cols=50 rows="10"></textarea>
  </div>
  <input type="submit" value="投稿">
</form>

<% @posts.each do |post| %>
  <h2><%= post['name']%></h2>
  <p><%= post['content']%></p>
  <p><%= post['created_at']%></p>
<% end %>

<%#binding.pry%>
